<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <a class="navbar-brand" href="#">Practica 2</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item " [ngClass]="{active: vista=='Formulario'}">
        <a class="nav-link" (click) ="formulario()" >Registrar <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" [ngClass]="{active: vista=='Tabla'}">
        <a class="nav-link" (click)="mtabla()" >Tabla</a>
      </li>
      <li class="nav-item" [ngClass]="{vista: vista=='Eliminar'}">
        <a class="nav-link" (click)="eliminar()" >Eliminar</a>
      </li>
    </ul>
  </div>
</nav>